{% extends "layout.html" %}
{% block corpo %}
<div class="col-md-2"> </div>
<div class="col-md-8 content">
	<h2>Adicionar Jogo</h2>
	{% if erro %}
	<p class="erro">
  		<strong>Erro:</strong> {{ erro }}
  	</p>
	{% endif %}

<form action="{{ url_for('adicionar_jogo') }}" method="post">
	<div class="row">

    <div class="col-md-6">
        
        <div class="form-group">
        	<label for="nameInput">Nome</label>
    		<input class="form-control" type="text" id="nameInput" name="nome" placeholder="Nome">
    	</div>

    	<div class="form-group">
        	<label for="genreInput">Gênero</label>
    		<input class="form-control" id="genreInput" type="text" name="genero" placeholder="Gênero">
    	</div>

    	<div class="form-group">
        	<label for="consoleInput">Console</label>
        	<input class="form-control" id="consoleInput" type="text" name="console" placeholder="Console">
        </div>

        <div class="form-group">
        	<label for="yearInput">Ano</label>
        	<input class="form-control" id="yearInput" type="text" name="ano" placeholder="Ano">
        </div>
    </div>
    
    <div class="col-md-6">
    	<div class="form-group">

				<label for="operationInput">Operação</label>
				<!--input class="form-control" id="operationInput" type="text" name="operacao" placeholder="Operação"-->
				<div>
					<label class="radio-inline"><input id="operationInput" type="radio" name="operacao" value="Venda" checked>Venda</label>

					<label class="radio-inline"><input id="operationInput" type="radio" name="operacao" value="Troca">Troca</label>
				</div>

        </div>

    	<div class="form-group">
        	<label for="priceInput">Valor</label>
        	<input class="form-control" id="priceInput" type="text" name="valor" placeholder="Valor">
        </div>   

        <br>
        <div class="text-center">
        	<input class="btn btn-primary" type="submit" value="Adicionar">
        </div>
    </div>
  </form>
</div>
{% endblock %}
