{% extends "layout.html" %}
{% block corpo %}
    {% if session.logado %}
    <div class="col-md-2"></div>
    <div class="col-md-8 content content-lighter">
        <div class="content-title text-center">
            <h2>Catálogo de Jogos</h2>
        </div>
        <ul class="jogos">
            {% for jogo in jogos %}
                <div class="row">
                    <div class="col-md-8">
                        <h2>{{ jogo.nome }}</h2>
                        <b>Gênero </b>
                        {{ jogo.genero }}
                        <br>
                        <b>Console </b>
                        {{ jogo.console }}
                        <br>
                        <b>Ano </b>
                        {{ jogo.ano }}
                        <br>
                {% if jogo.operacao == 'Venda' %}

                        <b> Preço: </b>
                        R$ {{ jogo.valor }}
                        <br>
                    </div>

                    <div class="col-md-4 text-center">
                    <br> <br> <br>
                        <a class="btn btn-primary" href="/comprar/{{ jogo.id }}">Comprar</a>
                        <a class="btn btn-default disabled" href="/trocar/{{ jogo.id }}">Trocar</a>

                    </div>

                {% else %}
                    </div>

                    <div class="col-md-4 text-center">
                    <br> <br> <br>
                        <a class="btn btn-default disabled" href="/comprar/{{ jogo.id }}">Comprar</a>
                        <a class="btn btn-primary" href="/trocar/{{ jogo.id }}">Trocar</a>
                    </div>
                {% endif %}
                </div>
            {% else %}
                <li><em>Nenhuma entrada.</em></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-2"></div>
    {% endif %}
{% endblock %}